@use "base/variables" as v;
@use "base/mixins" as m;
@use "sass:color";

.contenedor-sm {
  .imagen {
    .imagen {
      display: block;
      width:70rem;
      height: 14rem;
      margin: 0 auto;
    }
    
    
  }

  .descripcion-pagina {
    font-weight: bold;
    text-align: center;
  }

  .formulario {
    margin-top: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 15px;
    background-color:v.$blanco;
    border-radius: 15px;

    .campo {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
      gap: 0.5rem;
      font-size: 1.2rem;

      label {
        flex: 0 0 11rem;
        color: v.$negro;
        font-weight: bold;
      }

      input,
      select {
        flex: 1;
        padding: 1rem;
        border: none;
        margin-right: 1rem;
        background: linear-gradient(
          to left,
          v.$gris 0%,
          color.scale(v.$gris, $lightness: 40%) 100%
        );
        border-radius: 10px;
      }
    }
    input[type="submit"] {
      @include m.boton(v.$indigo, v.$blanco);
    }
  }
  .acciones {
    margin-top: 5rem;
    @include m.tablet {
      display: flex;
      justify-content: space-between;
    }
    a {
      display: block;
      text-align: center;
      margin-bottom: 2rem;
      color: v.$gris;
      transition: transform 0.3s ease;
      font-weight: bold;
      /* Añade una transición suave */
      &:hover {
        transform: scale(1.3);
        color: v.$naranja;
      }

    }
  }
}
/* Ocultar el input de tipo file */
input[type="file"] {
  font-size: 0.8rem;
  @include m.telefono {
    font-size: 1.1rem;
  }
}
//ocultar formulario
.hidden {
  display: none;
}

.boton-añadir  {
  position: relative;
  margin-top: 6.5rem;
  padding-left: 20rem; /* Ajusta según sea necesario */
  @include m.boton(v.$indigo, v.$blanco, 100%);
  
}


.icono {
  position: absolute;
  top: -6px;
  right: 1.5rem; /* Ajusta según sea necesario */
  transition: transform 1s ease-out;
  color:v.$gris;
  font-size: 5rem;
  align-items: center;
}

.boton-añadir.girado .icono {
  transform: rotate(90deg);
}

fieldset {
  border: 5px solid v.$indigo;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

legend {
  background-color:v.$indigo;
  color: v.$blanco;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
}


